
/* Background slide text */
body{
	font: 14px/1.6 Helvetica, Arial, sans-serif;
}

.headertxt_fscreen {position: absolute; bottom: 0; right: 0;}


.headertxt {
	width: 100%;
	margin: 0 auto;
	clear: both;
	position: relative;
	top: 74px;
}
#firstline {
	
	background-image: url("../images/transparent-bg.png");
	color: #FFF;
	text-decoration: none;
	font-size: 32px;
	padding: 4px 13px 7px;
	float: left;
	display: block;
	line-height: normal;
}
#secondline {
	background-image: url("../images/transparent-bg.png");
	color: #FFF;
	text-decoration: none;
	font-size: 14px;
	padding: 4px 13px 7px;
	float: left;
	display: block;
	clear: both;
	white-space: pre-wrap;
}
/* Background slide button */

#link {
	float: left;
	display: block;
	clear: both;}
.pictured {
	font-size: 12px;
	padding: 9px 16px;
	text-transform: uppercase;
	float: left;
	display: block;
	clear: both;
	margin-top: 10px;
	display: block;
}
.pictured a {
	font-size: 16px;
	font-style: italic;
	letter-spacing: 0;
	text-transform: none;
	color: #FFF;
	text-decoration: none;
}
.pictured a:hover {
	text-decoration: underline;
}
/* Background slide controls (buttons) */
